<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/javascripts/minside-detaljer.js"></script>    
    <link rel="stylesheet" href="/stylesheets/cfg.css">
    <link rel="stylesheet" href="/stylesheets/minkonto-detaljer.css">
</head>
<body>
<% var rootPath = '../'%>
    <%- include(rootPath + 'header.ejs'); %>
    
<h1 id="error-title"><%= errorMsg %></h1>
    <div id="generic-content"> 
        <div id="button-container">
        <button class="option-button" onclick="changeUsername()">Bytt brukernavn</button>    
        <button class="option-button" onclick="changePassword()">Bytt passord</button>
        <button class="option-button">Bytt email</button>      
</div>
        <div id="settings-container">

            


        </div>

    </div>




</body>
</html>