<style>
#header {
    height: 90px;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(200,200,200);
    background-color: white;
    padding-top: 20px;

}

#header #left-content {
    float: left;
    height: 100%;
    width: fit-content;
}

#header #left-content img {
    height: 70%;
    top: 50%;
}
#header #left-content img:hover {
    cursor: pointer;
}

</style>
<div id="header">
<div id="left-content">
    <img src="/images/kevilogo.png" onclick="window.location.href = '/'">
</div>
</div>