<div id="content">
<button id="login-button-popup" onclick="activateLogin()">logg inn</button>
<a href="/minside" id="my-account-link">MIN KONTO</a>
<div style=`width: 100%; height: 0.1vh; background-color: rgb(200,200,200); margin-top: 0.5vh;`></div>
<p id="register-link" onclick="activateRegistration()">Har du ikke lagd bruker enda? Trykk her!</p>
</div>

<script>
    var minKonto = document.getElementById("my-account-link");
    minKonto.addEventListener("click", function() {
        alert("Nei");
    })


var btn = document.getElementById("login-button-popup");
function activateLogin() {

            /*

                CREATE LOGIN WINDOW

            */

        var loginCont = document.createElement("div");
        loginCont.setAttribute("id", "modal-login-popup");

        var content = document.createElement("div");
        content.setAttribute("id", "content");
        loginCont.appendChild(content);

        var vDivider = document.createElement("div");
        vDivider.setAttribute("id", "vDiv");

        var info = document.createElement("p");
        info.setAttribute("style", `
            display: inline-block;
            width: 30%;
            color: rgb(100,100,100);
            margin-left: 9%;
            vertical-align: top;
        `)

        info.innerHTML = "Ikke bruk et passord du bruker ellers på andre tjenester! Passordet krypteres ikke under overføringen til serveren, og kan derfor være utsatt!";


        loginCont.appendChild(vDivider);
        loginCont.appendChild(info);

        var title = document.createElement("h2");
        title.innerHTML = "Logg inn";

        content.appendChild(title);

        var form = document.createElement("form");
        form.setAttribute("action", "auth");
        form.setAttribute("method", "post");

        content.appendChild(form);



        var usrName = document.createElement("input");
        usrName.setAttribute("type", "text");
        usrName.setAttribute("name", "username");
        usrName.setAttribute("placeholder", "Brukernavn eller epost-adresse");
        usrName.setAttribute("required", "");
        usrName.setAttribute("style", `
            display: block;
            margin-bottom: 3vh;
            border-style: solid;
            border-width: 0 0 0.1vh;
            border-color: rgb(200,200,200);
            height: 30px;
            width: 100%;
            font-size: 25px;
        `);
        form.appendChild(usrName);



        var pass = document.createElement("input");
        pass.setAttribute("type", "password");
        pass.setAttribute("autocomplete", "current-password");
        pass.setAttribute("name", "password");
        pass.setAttribute("placeholder", "Passord");
        pass.setAttribute("required", "");
        pass.setAttribute("style", `
            display: block;
            border-style: solid;
            border-width: 0 0 0.1vh;
            border-color: rgb(200,200,200);
            height: 30px;
            font-size: 25px;
            width: 100%;
            margin-bottom: 2vh;
        `);
        pass.setAttribute("required", "");
        form.appendChild(pass);

        var submit = document.createElement("input");
        submit.setAttribute("type", "submit");
        submit.setAttribute("id", "login-submit");
        submit.setAttribute("style", `
            color: white;
            height: 5vh;
            font-size: 1.7vh;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            width: 50%;
            border-style: none;
        `)

        form.appendChild(submit);

        



        var modalBkg = document.createElement("div");
        modalBkg.setAttribute("id", "modal-background");

        document.body.appendChild(modalBkg);
        document.body.appendChild(loginCont);

        modalBkg.addEventListener("click", function() {
            loginCont.parentNode.removeChild(loginCont);
            modalBkg.parentNode.removeChild(modalBkg);
        })

            // LEGACY: modalWindow("Nå stoppa det visst opp...", "Det ser ut til at denne funksjonen ikke er slått på ennå ¯\\_(ツ)_/¯<br>Prøv igjen seinere!");
        }

var register = document.getElementById("register-link");

function activateRegistration() {
        
            //LEGACY: modalWindow("Nå stoppa det visst opp...", "Det ser ut til at denne funksjonen ikke er slått på ennå ¯\\_(ツ)_/¯<br>Prøv igjen seinere!");
           
           /*

                CREATE REGISTER WINDOW

           */
           
            var modalBack = document.createElement("div");
            modalBack.setAttribute("id", "modal-background");

            var registerCont = document.createElement("div");
            registerCont.setAttribute("id", "register-popup");

            modalBack.addEventListener("click",function() {
                modalBack.parentNode.removeChild(modalBack);
                registerCont.parentNode.removeChild(registerCont);
            })
            document.body.appendChild(modalBack);
            document.body.appendChild(registerCont);
        
            var content = document.createElement("div");
            content.setAttribute("id", "content");
            
            var title = document.createElement("h2");
            title.innerHTML = "Registrer ny bruker";

            registerCont.appendChild(content);
            content.appendChild(title);



var form = document.createElement("form");
        form.setAttribute("action", "register");
        form.setAttribute("method", "post");

        content.appendChild(form);



        var usrName = document.createElement("input");
        usrName.setAttribute("type", "text");
        usrName.setAttribute("name", "username");
        usrName.setAttribute("placeholder", "Ønsket brukernavn");
        usrName.setAttribute("required", "");
        usrName.setAttribute("style", `
            display: block;
            margin-bottom: 3vh;
            border-style: solid;
            border-width: 0 0 0.1vh;
            border-color: rgb(200,200,200);
            height: 30px;
            width: 100%;
            font-size: 25px;
        `);
        form.appendChild(usrName);

var mail = document.createElement("input");
        mail.setAttribute("type", "email");
        mail.setAttribute("name", "email");
        mail.setAttribute("placeholder", "Epost-adresse");
        mail.setAttribute("required", "");
        mail.setAttribute("style", `
            display: block;
            margin-bottom: 3vh;
            border-style: solid;
            border-width: 0 0 0.1vh;
            border-color: rgb(200,200,200);
            height: 30px;
            width: 100%;
            font-size: 25px;
        `);
        form.appendChild(mail);


        var pass = document.createElement("input");
        pass.setAttribute("type", "password");
        pass.setAttribute("autocomplete", "new-password");
        pass.setAttribute("name", "password");
        pass.setAttribute("placeholder", "Passord");
        pass.setAttribute("required", "");
        pass.setAttribute("style", `
            display: block;
            border-style: solid;
            border-width: 0 0 0.1vh;
            border-color: rgb(200,200,200);
            height: 30px;
            font-size: 25px;
            width: 100%;
            margin-bottom: 2vh;
        `);
        pass.setAttribute("required", "");
        form.appendChild(pass);



        var submit = document.createElement("input");
        submit.setAttribute("type", "submit");
        submit.setAttribute("id", "login-submit");
        submit.setAttribute("style", `
            color: white;
            height: 5vh;
            font-size: 1.7vh;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            width: 50%;
            border-style: none;
        `)

        form.appendChild(submit);


        var vDivider = document.createElement("div");
        vDivider.setAttribute("id", "vDiv");

        var info = document.createElement("p");
        info.setAttribute("style", `
            display: inline-block;
            width: 30%;
            color: rgb(100,100,100);
            margin-left: 9%;
            vertical-align: top;
        `)

        info.innerHTML = "Ikke bruk et passord du bruker ellers på andre tjenester! Passordet krypteres ikke under overføringen til serveren, og kan derfor være utsatt!<br><br> Ved å lage en bruker på denne nettsiden godtar du at passordet ikke er lagret på en fullstendig trygg måte.";


        registerCont.appendChild(vDivider);
        registerCont.appendChild(info);

                }
</script>