<div id="content">
<button id="logout-button-popup" class="button stdStyle" onclick="logout()">logg ut</button>
<a href="/minside" id="my-account-link">MIN KONTO</a>
</div>

<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>