html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Product Sans;
    overflow-y: hidden;
}

#generic-content {
    text-align: center;
    width: 100%;
    height: fit-content;
    background-color: white;
}


@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

  #button-container {
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

.option-button {
    text-transform: uppercase;
    background-color: #1a1a1a;
    border-style: none;
    height: 30%;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    margin-right: 20px;

}

.option-button:hover {
    cursor: pointer;
    background-color: #555;
}

#settings-container {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
}

#submit-button {
    text-transform: uppercase;
    background-color: #1a1a1a;
    border-style: none;
    height: 30%;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 12px;
    float: left;
}

#submit-button:hover {
    cursor: pointer;
    background-color: #555;
}


#form {
    animation: slide-in 400ms ease-in-out;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#username-input, #username-input2{
    height: 38px;
    width: 400px;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    border-color: rgb(200,200,200);
    border-width: 0 0 1px 0;
}





@keyframes slide-in {
    0% {margin-top: 10%; opacity: 0;}
    100% {margin-top: 0; opacity: 1;}
}

#error-title {
    width: 100%;
    text-align: center;
    color: red;
    margin: 0;
}
